.alert {
    margin: 0;
}

 

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    background: none !important;
    background-image: linear-gradient(
        0deg,
        var(--color-black) 0% 50%,
        var(--color-blue) 50% 100%
    ) !important;
}

.form {
    padding: 2rem !important;
    border-radius: 1rem;
    border: solid 1px #e8d8ff;
    margin: 0.5rem;
    background: white;
}

.form--login {
    width: clamp(300px, 30%, 400px);
}

.flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    color: white;
    padding: 0.3rem 1rem;
    border: 0rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.text-color-blue {
    color: var(--color-blue);
}

.button--bg-blue {
    background: var(--color-blue);
}

.logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.form__item {
    margin-bottom: 0.6rem;
}

main{
    height: 100vh;
    background: none; 
}